.notificationsnackbar--maincontainer{
    width: 0%;
    position: fixed;
    bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 10;
    max-height: 70px;
    border-radius: 6px;
    
}

.notificationsnackbar--innercontainer{
    padding: 10px 0px;
    min-width: 0px;
    max-width: 0px;
    max-height: 70px;
    
    min-height: 70px;
    
    background-color: rgba(255, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-wrap: nowrap;
    text-align: center;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    margin: 10px;
    box-sizing: border-box;

    backdrop-filter: blur(4px);
}

#green{
    background-color: rgba(0,255,0,0.6);
    color: rgb(96, 96, 96);
}